absl-py
numpy
torch
transformers
modelscope
adaseq
langchain
langchain-openai
langchain-community
langchain-experimental
unstructured
pdf2image
pdfminer
pdfminer.six
opencv-python
unstructured_inference
layoutparser
onnxruntime
pikepdf
sentence-transformers
chromadb
