total_citation.npz filter=lfs diff=lfs merge=lfs -text
author_weights.pkl filter=lfs diff=lfs merge=lfs -text
connected_components.pkl filter=lfs diff=lfs merge=lfs -text
authors.pkl filter=lfs diff=lfs merge=lfs -text
